.gameslist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamelist-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.rating-button {
  width: 16rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(205, 205, 205);
  margin-bottom: 2rem;
}
