
body {
 background-color: black;
}

/*
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-coral-dark text-coral-default m-0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  color: #1d0900;
  font-weight: bold;
  background-color: #ed6c6d;
  padding: 0.3rem;
  border-radius: 3px;
}
*/